# twhamr - Discord Bot (CraftyBot) w/ custom API Integration for Crafty Controller
# main.ini template file, necessary for initial run and setting up application

# General
[general]
app_name = "CraftyBot"
version = 0.0.0

# Crafty API
[api]
api_url = YOUR_CRAFTY_API_URL
api_key = YOUR_CRAFTY_API_KEY

# Discord
[discord]
owner_id = YOUR_USER_ID
guild_id = YOUR_SERVER_ID
bot_token = DISCORD_BOT_TOKEN

# Logging
[logging]
enabled = True
root_path = ./app/logs
timezone = TIMEZONE_OVERRIDE